# macOS junk
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Virtual environments
# venv/
# env/
# *.env

# Data files (you can remove some of these if you want to track them!)
# data/*.csv
# data/*.tsv
# data/*.xls
# data/*.xlsx
# data/*.zip
# data/*.json

